{% extends 'base.html' %}
{% load static %}

{% block content %}
<section id="cart-section">
    <div class="container">
		<div class="custom-box-element">
			<a class="btn btn-outline-dark" href="{% url 'store' %}">&#x2190; Continue Shopping</a>
			<div class="cart-summary">
				<div class="cart-summary-item">
					<span class="label">Items:</span>
					<span class="value"><strong>{{ order.get_cart_items }}</strong></span>
				</div>
				<div class="cart-summary-item">
					<span class="label">Total:</span>
					<span class="value"><strong>${{ order.get_cart_total|floatformat:2 }}</strong></span>
				</div>
				<div class="cart-summary-item checkout-btn">
					<a class="btn btn-success" href="{% url 'checkout' %}">Checkout</a>
				</div>
			</div>
		</div>
		

        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="box-element">
                    <div class="cart-row">
                        <div><strong>Item</strong></div>
                        <div><strong>Price</strong></div>
                        <div><strong>Quantity</strong></div>
                        <div><strong>Total</strong></div>
                    </div>
                    {% for item in items %}
                    <div class="cart-row">
                        <div><img class="row-image" src="{{ item.product.imageURL }}"></div>
                        <div>{{ item.product.name }}</div>
                        <div>${{ item.product.price|floatformat:2 }}</div>
                        <div>
                            <p class="quantity">{{ item.quantity }}</p>
                            <div class="quantity">
                                <img data-product="{{ item.product.id }}" data-action="add" class="chg-quantity update-cart" src="{% static 'images/arrow-up.png' %}">
                                <img data-product="{{ item.product.id }}" data-action="remove" class="chg-quantity update-cart" src="{% static 'images/arrow-down.png' %}">
                            </div>
                        </div>
                        <div>${{ item.get_total|floatformat:2 }}</div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
